@charset "UTF-8";
@import url('./common/swiper-bundle.min.css');
@import url('./section2.css');
@import url('./section3.css');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* section3 */
#section3 {
    position: relative;
    width: 100%;
    height: 600px;
}

#section3 h2 {
    display: none;
}

#section3 #sec3_wrap {
    position: relative;
    width: 1200px;
    height: 600px;
    margin: 0 auto;
}

/* section3 title */
#section3 #sec3_wrap #sec3_title {
    position: absolute;
    top: 70px;
    left: 0;
    width: 1200px;
    height: 100px;
    text-align: left;
}

#section3 #sec3_wrap #sec3_title img {
    margin-left: 45px;
    margin-top: 20px;
}

#section3 #sec3_wrap #sec3_title span:first-child {
    height: 73px;
    font-family: 돋움, 'Dongle', sans-serif;
    font-size: 70px;
    font-weight: 900;
    margin-left: 200px;
    color: #444444;
}

#section3 #sec3_wrap #sec3_title div {
    font-family: 돋움, 'Dongle', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 300px;
    color: #9b9b9b;
}

#section3 #sec3_wrap #sec3_title div.more_button {
    position: absolute;
    top: 80px;
    right: 50px;
    width: 35px;
    height: 35px;
    font-size: 30px;
    padding: 0px 4px;
    border: 1px solid #5e5e5e;
    border-radius: 10px;
    box-sizing: border-box;
    transition: 1s;
}

#section3 #sec3_wrap #sec3_title div.more_button:hover {
    border: 1px solid rgb(28, 171, 226);
}

#section3 #sec3_wrap #sec3_title div.more_button a {
    color: #000;
    line-height: 30px;
    font-family: 돋움;
}


#section3 #sec3_wrap #sec3_title div.more_button i {
    font-size: 30px;
    line-height: 30px;
    color: #5e5e5e;
    transition: all 1s;
}

#section3 #sec3_wrap #sec3_title div.more_button:hover i {
    transform: rotate(360deg);
    color: rgb(28, 171, 226);
}

/* sec3 slide */
#section3 #sec3_wrap #sec3_slide {
    position: absolute;
    top: 200px;
    left: 0;
    right: 0;
    margin: auto;
    width: 1100px;
    height: 282px;
    border-radius: 20px;
    border: 2px solid rgb(28, 171, 226);
    box-shadow: 3px 5px 2px #e2e2e2;
    overflow: hidden;
}

#section3 #sec3_wrap #sec3_slide .swiper-wrapper {
    width: max-content;
    height: 282px;
    box-sizing: border-box;
    overflow: hidden;
}

#section3 #sec3_wrap #sec3_slide .swiper-wrapper .swiper-slide {
    width: 200px;
    height: 282px;
}

#section3 #sec3_wrap #sec3_slide .swiper-wrapper .swiper-slide>a>img {
    width: 200px;
    height: 282px;
}

/* slide button */
#section3 .swiper-button-next::after,
#section3 .swiper-button-prev::after {
    /* 버튼 스타일 없애기 */
    display: none;
}

#section3 #sec3_wrap #sec3_s_button_wrap {
    position: absolute;
    width: 1200px;
    height: 100px;
    bottom: 200px;
}

#section3 #sec3_wrap #sec3_s_button_wrap #prev {
    position: absolute;
    right: 0;
    /* white-space: nowrap; */
}

#section3 #sec3_wrap #sec3_s_button_wrap #next {
    position: absolute;
    /* white-space: nowrap; */
}

#section3 #sec3_wrap .swiper-pagination {
    position: absolute;
    bottom: 80px;
}

#sec3_wrap > div.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal > span{
    background-color: rgb(28, 171, 226);
}