@charset "UTF-8";
@import url('../header.css');
@import url('../aside.css');
@import url('../footer.css');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    /* height: max-content; */
}

/* =======================welcome==================== */
#section2 {
    width: 100%;
    height: 1400px;
    font-family: 'Dongle', sans-serif;
}

#section2 #sec2_warp {
    width: 1200px;
    height: max-content;
    margin: 0 auto;
}


/* =============sec2 left=================== */
#section2 #sec2_warp #sec2_left {
    float: left;
    width: 200px;
    height: max-content;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
}

/* logo */
#section2 #sec2_warp #sec2_left #sec2_logo img {
    height: 40px;
}

/* menu */
#section2 #sec2_warp #sec2_left ul#sec2_menu {
    margin-top: 30px;
    margin-bottom: 10px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:hover {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(28, 171, 226);
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li a {
    color: #000;
    font-size: 20px;
    padding: 5px auto;
    letter-spacing: -1px;
    box-sizing: border-box;
    font-size: 30px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:nth-child(8) a {
    padding: 5px 0;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:hover a {
    color: #fff;
}


#section2 #sec2_warp #sec2_left ul#sec2_menu2 img {
    width: 200px;
    border: 1px solid #000;
    box-sizing: border-box;

}


/* =================sec2 right==================== */

#section2 #sec2_warp #sec2_right {
    float: right;
    width: 1000px;
    height: 700px;
    font-family: 고딕, 'Dongle', sans-serif;
}


#section2 #sec2_warp #sec2_right #sec2_right_wrap {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content {
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_text {
    color: #000;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content {
    width: 800px;
    height: 400px;
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin {
    width: 800px;
    height: 715;
    text-align: center;
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin #jontitle_bg {
    position: relative;
    width: 100%;
    height: 20px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin #jontitle_bg img {
    position: absolute;
    left: 0;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin #jontitle_bg:nth-child(3) img {
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin>textarea {
    display: block;
    width: 700px;
    height: 300px;
    margin: 0 auto;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin>textarea:nth-child(4) {
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin #clausel {
    font-size: 25px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content form#sec2_signin #inforulel {
    font-size: 25px
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check {
    position: relative;
    width: 700px;
    height: 200px;
    margin: 0 auto;
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check img {
    position: absolute;
    left: -50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap {
    position: absolute;
    top: 20px;
    width: 700px;
    height: 230px;
    border-radius: 20px;
    border: 1px solid rgb(28, 171, 226);
    box-sizing: border-box;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap div:first-child {
    width: 100%;
    height: 50px;
    font-family: 고딕;
    font-size: 18px;
    padding: 13px 0 10px 10px;
    border-radius: 18px 18px 0 0;
    background-color: rgb(28, 171, 226);
    box-sizing: border-box;
    text-align: left;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check {
    width: 600px;
    height: 50px;
    margin: 0 auto;
    margin-top: 20px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check input {
    float: left;
    display: block;
    width: 130px;
    height: 40px;
    color: #5c5c5c;;
    font-size: 25px;
    padding: 8px 10px;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid rgb(28, 171, 226);
    box-sizing: border-box;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check input[type="email"]#useremail {
    width: 140px;
    height: 40px;
    color: #5c5c5c;
    font-size: 25px;
    padding: 8px 10px;
    border: 1px solid rgb(28, 171, 226);
    border-radius: 20px;
    box-sizing: border-box;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check input[type="email"]#useremailisp {
    width: 180px;
    height: 40px;
    color: #5c5c5c;;
    font-size: 25px;
    padding: 8px 10px;
    box-sizing: border-box;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check label {
    float: left;
    display: block;
    font-size: 30px;
    margin-top: 8px;
    margin-right: 10px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check label:nth-child(3) {
    margin-left: 10px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check input#check_button {
    display: none;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check label:last-child {
    position: absolute;
    bottom: 40px;
    left: calc(50% - 50px);
    width: 100px;
    height: 40px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid rgb(28, 171, 226);
    background-color: #fff;
    box-sizing: border-box;
    transition: all .5s;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_content #info_check #join_title3_wrap #join_title3_wrap_check label:last-child:hover {
    background-color: rgb(28, 171, 226);
}



/* 사이트 맵 */
body>.sitemapbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

body>.sitemapbg>img {
    position: absolute;
    top: 300px;
    left: calc(50% - 463px);
}

body>.sitemapbg>div {
    position: absolute;
    top: -100%;
    left: -50%;
    width: 100%;
    height: 100%;
    font-size: 70px;
    transform: rotate(-45deg);
    color: rgba(255, 255, 255, .1);
}