@charset "UTF-8";
@import url('../header.css');
@import url('../aside.css');
@import url('../footer.css');


* {
    margin: 0;
    padding: 0;
    border: 0;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}


body {
    height: max-content;
}

/* =======================welcome==================== */
#section2 {
    width: 100%;
    height: 900px;
    font-family: 'Dongle', sans-serif;
}

#section2 h2 {
    display: none;
}


#section2 #sec2_warp {
    width: 1200px;
    height: max-content;
    margin: 0 auto;
}


/* =============sec2 left=================== */
#section2 #sec2_warp #sec2_left {
    float: left;
    width: 200px;
    height: max-content;
    padding: 50px 0;
    box-sizing: border-box;
    text-align: center;
}

/* logo */
#section2 #sec2_warp #sec2_left #sec2_logo img {
    height: 40px;
}

/* menu */
#section2 #sec2_warp #sec2_left ul#sec2_menu {
    margin-top: 30px;
    margin-bottom: 10px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li {
    width: 200px;
    height: 40px;
    line-height: 40px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:hover {
    color: #fff;
    border-radius: 5px;
    background-color: rgb(28, 171, 226);
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li a {
    display: block;
    width: 100%;
    color: #000;
    font-size: 20px;
    letter-spacing: -1px;
    box-sizing: border-box;
    font-size: 30px;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:nth-child(8) a {
    padding: 5px 0;
}

#section2 #sec2_warp #sec2_left ul#sec2_menu li:hover a {
    color: #fff;
}


#section2 #sec2_warp #sec2_left ul#sec2_menu2 img {
    width: 200px;
    border: 1px solid #000;
    box-sizing: border-box;

}


/* =================sec2 right==================== */

#section2 #sec2_warp #sec2_right {
    float: right;
    width: 1000px;
    height: 900px;
    font-family: 고딕, 'Dongle', sans-serif;
}


#section2 #sec2_warp #sec2_right #sec2_right_wrap {
    width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content {
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_right_text {
    color: #000;
    font-size: 60px;
    font-weight: bold;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table {
    width: 800px;
    height: 450px;
    padding: 30px 0;
    border-top: 1px dashed #000;
    border-bottom: 1px dashed #000;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a {
    color: #000;
    font-size: 30px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a div {
    float: left;
    background-color: rgb(28, 171, 226);
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a div:nth-child(1) {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a div:nth-child(2) {
    width: 500px;
    height: 50px;
    line-height: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a div:nth-child(3) {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a div:nth-child(4) {
    width: 100px;
    height: 50px;
    line-height: 50px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:nth-child(1) a span:nth-child(2) {
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a {
    display: block;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a span {
    color: #000;
    font-size: 25px;
    border-top: 1px solid #000;
    box-sizing: border-box;
    border-collapse: collapse;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a span:nth-child(1) {
    display: block;
    float: left;
    width: 100px;
    height: 40px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a span:nth-child(2) {
    display: block;
    float: left;
    width: 500px;
    height: 40px;
    padding-left: 20px;
    text-align: left;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a span:nth-child(3) {
    display: block;
    float: left;
    width: 100px;
    height: 40px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li>a span:nth-child(4) {
    display: block;
    float: left;
    width: 100px;
    height: 40px;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #sec2_table li:last-child a span {
    border-bottom: 1px solid #000;
}



#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber {
    width: 300px;
    height: 30px;
    margin: 0 auto;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber>div {
    float: left;
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber>div.on a {
    color: #000;
    border-bottom: 1px solid #000;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber div a {
    display: block;
    width: 20px;
    height: 44px;
    color: #aaa;
    font-size: 30px;
    margin-right: 10px;
    text-align: center;
}

#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber div a:hover {
    color: #000;
}


#section2 #sec2_warp #sec2_right #sec2_right_wrap #sec2_content #pageNumber div:last-child a {
    margin-right: 0;
}


#section2 #table_search {
    width: 335px;
    height: 25px;
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
}

#section2 #table_search #category {
    float: left;
    display: block;
    height: 25px;
    outline: none;
    margin-right: 20px;
}

#section2 #table_search #category option {
    float: left;
    background-color: rgb(28, 171, 226)
}

#section2 #table_search #searchinput {
    float: left;
    display: block;
    height: 25px;
    outline: none;
    border-bottom: 1px solid rgb(28, 171, 226);
    box-sizing: border-box;
    color: #000;
}

#section2 #table_search #searchinput::placeholder {
    color: #000;
}

#section2 #table_search #searchbtn {
    display: none;
}

#section2 #table_search label {
    float: left;
    display: block;
    width: 80px;
    height: 25px;
    font-size: 25px;
    line-height: 25px;
    background-color: rgb(28, 171, 226);
    color: azure;
}



/* 사이트 맵 */
body>.sitemapbg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: none;
}

body>.sitemapbg>img {
    position: absolute;
    top: 300px;
    left: calc(50% - 463px);
}

body>.sitemapbg>div {
    position: absolute;
    top: -100%;
    left: -50%;
    width: 100%;
    height: 100%;
    font-size: 70px;
    transform: rotate(-45deg);
    color: rgba(255, 255, 255, .1);
}